@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import "tailwindcss";

@layer components {
  .component-gap {
    @apply w-full pt-16 max-sm:pt-12 pb-10  px-4 md:px-8
  }
}

@theme {
  --font-roboto: "Felipa", sans-serif; 
}

html{
  scroll-behavior:smooth;
  color-scheme: light;
}
 body {
      background-color: #fffdf5;
       overflow-x: hidden;
    }

    /* Custom utility for text stroke if needed, though pure tailwind is preferred */
    .text-outline-white {
      -webkit-text-stroke: 1px white;
    }


.experience-section {
  position: relative;/* hide default cursor */
}

.cursor-img {
  width:300px;
  height: 230px;
  height: auto;
  opacity: 0;
  transform: scale(0.5);
}


.recent-work-item {
  cursor: none; 
  position: relative;
}


.mobile-nav-links {
            list-style: none;
            padding: 2rem 1rem;
        }

        .mobile-nav-links li {
            margin-bottom: 1rem;
        }

        .mobile-nav-links a {
            text-decoration: none;
            color: #2C2C2C;
            font-size: 1.55rem;
            font-weight: 400;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            display: block;
            padding: 0.5rem 0;
            transition: opacity 0.3s ease;
        }

        .mobile-nav-links a:hover {
            opacity: 0.6;
        }

/* Keyframes for infinite scroll */
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply to scroll tracks */
.animate-scroll {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll-infinite 26s linear infinite;
}

.mobile-nav {
    animation: mobileFadeIn 0.35s ease forwards;
}

@keyframes mobileFadeIn {
    0% {
        opacity: 1;
        transform: translatex(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


 @keyframes spin-slow {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .animate-spin-slow {
        animation: spin-slow 12s linear infinite;
      }


      /* Thin scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (almost invisible) */
::-webkit-scrollbar-track {
  background: rgba(13, 13, 13, 0.911);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

